.Navigation {  
    height: 100px;         
    justify-content: space-between;    
    font-size: 14px; 
}

.logo {
    max-width:100px; 
    margin-left: 10px;  
}

.font-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: slateblue;
}

.icon {
    font-size: 18px;    
}

.nav-sign {
    color: slateblue;
    font-size: 16px;
}

.center-nav {
    width: 50%;
    margin-left: 25%;    
  }

  
