.loginForm {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.card.card-user {
    /* margin-top: 150px; */
    width: 100%;
    display: flex; 
    flex-direction: column;     
    /* height: auto; */
    justify-content: center;
    align-items: center;
    align-content: center; 
    border-radius: 15px; 
    border: 2px solid slateblue;
}


.form-control{
    display: flex;    
    margin-bottom: 25px;
    width: 100%;
    height: 50px;
    font-size: 16px;    
    border: none;
    border-bottom: 2px solid slateblue;
    box-sizing: border-box;
}


.log {   
   font-size: 35px;
   font-weight: 800;
   color: #813AFE;

}

.btn.btn-user:hover {
    font-size: 20px;
    height: 47px;
}

.link-sign {    
    font-size: 14px;
    font-weight: 600;
    color: slateblue;
    text-decoration: none;
}

.loginRow {
    margin-top: 150px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;

}

